/* ===== Color Scheme =====

nero: #151515
nero: #202020
madison: #2c3e50
deep sky blue: #21c2f8
heather: #bdc3c7
azure: #f3f7f8
whisper: #e7e7e7

=========================*/


/* ===== Tags ===== */

a {
  color: #bdc3c7;
  text-decoration: none;
}

figcaption.album-name {
  color: #e7e7e7;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 125% !important;
  margin-left: -90%;
  margin-top: 110%;
  max-height: 2.8125rem;
  overflow-y: auto;
  text-align: center;
  width: 275%;
  -ms-overflow-style: none; 
  /* There is a CSS rule that can hide scrollbars in IE 10+ */
}

figcaption.album-name::-webkit-scrollbar { 
  width: 0 !important;
  /* There is a CSS rule that can hide scrollbars in Webkit-based browsers (Chrome and Safari) */
}

header {
  background-color: #2c3e50;
  color: #f3f7f8;
  display: inline-block;
  height: 5%;
  min-height: 2rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

h2.artist-name {
  color: #21c2f8;
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  font-weight: 400;
  margin: 0rem;
  padding-left: 7.5%;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 0.125rem solid #bdc3c7;
  border-radius: 0;
  color: #f3f7f8;
  font-family: Roboto Slab, sans-serif;
  font-size: 0.875rem;
  height: 1.5rem;
  margin-top: 0%;
  min-width: 100%;
  outline: none;
  padding: 0;
  width: 100%;
}

input:focus + .input-highlight {
  border-top: 0.125rem solid #21c2f8;
}

li {
  padding-left: 0rem;
  list-style-position: inherit;
  list-style: none;
}

section {
  display: inline-block;
}

select {
  font-size: 0.875rem;
  margin-left: 1%;
  margin-top: 0.125rem;
}

nav ul {
  padding-left: 0rem;
}

/* ===== Classes ===== */

.active {
  background-color: #21c2f8;
}

.album {
  display: inline-block;
  margin-bottom: 6%;
  padding-right: 5%;
}

.album:hover {
  filter: brightness(135%);
  -webkit-filter: brightness(135%); /* Safari */
}

.album-detail {
  padding: 5% 0% 0% 5%;
}

.albums {
  margin-top: 2.5%;
  margin-left: 5%;
}

.app {
  color: #f3f7f8;
  text-align: left;
  width: 100%;
}

.app-logo {
  font-family: 'Vollkorn', serif;
  font-size: 0.9rem;
  float: left;
  margin-top: 0.6%;
  text-align: center;
  text-transform: uppercase;
  width: 15%;
}

.app-logo:before{
  content: "\f025";
  display: inline-block;
  font-family: FontAwesome;
  padding-right: 6px;
  vertical-align: middle;
}

.app-logo:hover {
  color: #bdc3c7;
}

.avatar {
  margin: auto;
  display: block;
  height: 6rem;
  width: 6rem;
}

.content {
  float: right;
  height: 95%;
  left: 15%;
  overflow-y: auto;
  position: fixed;
  top: 5%;
  width: 87.5%;
  -ms-overflow-style: none; 
  /* There is a CSS rule that can hide scrollbars in IE 10+ */
}

.content::-webkit-scrollbar { 
  width: 0 !important;
  /* There is a CSS rule that can hide scrollbars in Webkit-based browsers (Chrome and Safari) */
}

.input-wrapper {
  float: right;
  width: 30%;
}

.input-highlight {
  border-top: 3px solid white;
  bottom: 0;
  color: transparent;
  float: right;
  font-family: Roboto Slab, sans-serif;
  font-size: 1.875rem;
  height: 0;
  left: 0;
  line-height: 70px;
  max-width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.row {
  display: inline-block;
}

.search {
  float: left;
  line-height: 0px !important;
  padding-top: 0.25rem;
  width: 75%;
}

.sidebar {
  background-color: #151515 ;
  height: 95%;
  overflow-x: hidden; /* Disable horizontal scroll */
  position: fixed; /* Stay in place */
  top: 5%; /* Stay at the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the side.sidebar */
  width: 15%; /* 0 width - change this with JavaScript */
  z-index: 0; /* Stay on top */
}

.sidebar a{
  color: #f3f7f8;
  display: block;
  padding: 0.5rem;
  text-align: justify;
  text-transform: uppercase;
}

.sidebar a:hover {
  background-color: #202020;
  color: #21c2f8; 
}

.username {
  display: block;
  font-weight: 500;
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.user-info {
  border-bottom: #bdc3c7;
  padding: 2rem 0rem;
}

/* ===== Ids ===== */

#album-cover {
  height: 10%;
}

#album-name:before {
  content: "\f025";
  display: inline-block;
  font-family: FontAwesome;
  padding-right: 6px;
  vertical-align: middle;
}

#content-description {
  padding-left: 5%;
}

/*
#input-search {
  float: right;
  width: 30%;
}*/

#select-search {
  float: right;
}


/* ===== Keyframes ===== */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ===== MediaScreens ===== */
@media screen and (max-height: 450px) {
  nav {padding-top: 15px;}
  nav a {font-size: 18px;}
}

/* ===== Vynil ===== */
.vinyl {
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: #040504;
  box-shadow: 1px 1px 10px #000;
}

.light,
.light-alt {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  border-radius: 50%;
  animation: reflection 20s infinite ease-in-out;
}

.light {
  background-image: linear-gradient("to bottom", transparent, rgba(255, 255, 255, 0.3), transparent);
}

.light-alt {
  background-image: linear-gradient(-160deg, transparent 40%, rgba(255, 255, 255, 0.1) 50%, transparent 60%);
}

.macaron {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  margin: -16% 0 0 -16%;
  width: 33.33%;
  height: 33.33%;
  border-radius: 50%;
}

.macaron .cover {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.macaron:after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 6;
  display: block;
  margin: -4% 0 0 -4%;
  width: 8%;
  height: 8%;
  border-radius: 50%;
  background: white;
  box-shadow: inset 0 0 2px #000;
  content: '';
}

.grooves {
  position: absolute;
  top: 2%;
  right: 2%;
  bottom: 2%;
  left: 2%;
  z-index: 5;
  border-radius: 50%;
  background-image: radial-gradient(center center, circle closest-side, transparent 43%, transparent 53%, #000 54%, transparent 54%, transparent 64%, #000 65%, transparent 65%, transparent 75%, #000 76%, transparent 76%, transparent 86%, #000 87%, transparent 87%, transparent 97%, #000 98%, transparent 98%);
  background-image: -webkit-radial-gradient(center center, circle closest-side, transparent 43%, transparent 53%, #000 54%, transparent 54%, transparent 64%, #000 65%, transparent 65%, transparent 75%, #000 76%, transparent 76%, transparent 86%, #000 87%, transparent 87%, transparent 97%, #000 98%, transparent 98%);
}

.vinyl-picture-disc .macaron {
  top: 0%;
  left: 0%;
  z-index: 4;
  margin: 0;
  width: 100%;
  height: 100%;
}
.vinyl-picture-disc .macaron:after {
  margin: -1.25% 0 0 -1.25%;
  width: 2.5%;
  height: 2.5%;
  background: white;
}